body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.section {
    padding: 50px;
}

.hero-section {
    background-color: #1F2937;
}

.hero-section h1 {
    color: #f9faf8;
    font-size: 48px;
}

.hero-section p,
.hero-section button {
    color: #f9faf8;
    font-size: 18px;
}

button {
    padding: 6px 12px;
    border-radius: 10px;
}

.hero-section button {
    background-color: #3882F6;
}

.container {
    width: 1000px;
    margin: auto;
}

.flex {
    display: flex;
}

.container.flex img {
    width: 100%;
}

.container.flex div {
    flex-grow: 1;
}

.container.info h2,
.container.info p {
    text-align: center;
}

.container.info h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.container.info img {
    width: 100%;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.container.info .flex {
    gap: 50px;
    justify-content: space-between;
}

